.container-company {
  width: 95%;
  max-width: 1200px;
  min-height: 70vh;
  margin: 3vh auto;
  h2 {
    font-size: 34px;
    text-align: center;
    margin: 20px 0;
  }
  .content {
    display: flex;

    .text-container {
      flex: 1;
      margin-left: 3rem;
      text-align: start;
    }
    .image-container {
      flex: auto;
      max-width: 400px;
      min-height: 60vh;
      background-size: cover;
      background-position: center;
      background-image: url("/../public/img/imgFixed/jobsHome/cerramientos/cerramientos12.jpg");
      align-self: center;
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  .container-company {
    .content {
      flex-direction: column;
      .image-container {
        margin-bottom: 1.5rem;
        width: 100%;
        min-height: 220px;
        background-image: url("/../public/img/imgFixed/jobsHome/ventanas/ventana2.jpg");
      }
      .text-container {
        margin-left: 0rem;
      }
    }
  }
}
