.card-contact {
  margin-bottom: 20px;
  flex-basis: calc(33.333% - 20px);

  img,
  svg {
    width: 60px;
    aspect-ratio: 1;
    margin: 10px auto;
    transition: transform 0.3s ease-in-out;
  }

  &:hover img,
  &:hover svg {
    transform: scale(1.1);
  }
}
