.container-cards-contact {
  width: 95%;
  margin: auto;
  min-height: 80vh;
  max-width: 1200px;
  h2 {
    font-size: 34px;
    text-align: center;
    margin: 20px 0;
  }

  .card-contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .card-contact {
      margin-bottom: 20px;
      flex-basis: calc(33.333% - 20px);
    }
  }
  .info-contact-container {
    max-width: 85%;
    margin: 11vh auto;
    text-align: center;
    p {
      margin: 2% auto;
    }
  }
  a {
    display: inline-block;
    background: linear-gradient(45deg, #e69500, #cc7a00, #a65c00);
    width: 87%;
    color: white;
    margin-top: 15px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 2px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    animation: gradientTransition 5s ease infinite;
    transform: scale(1);
    transition: transform 0.2s ease;
  }

  @keyframes gradientTransition {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .container-contact-home a:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 695px) {
  .container-cards-contact {
    width: 78%;
    .card-contact-container {
      flex-direction: column;
    }
    a {
      width: 100%;
    }
  }
}
