.contact-container {
  width: 95%;
  margin: auto;
  max-width: 1300px;
  align-items: center;
  .contact-info-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    justify-content: space-evenly;
    flex-basis: 100%;
    .card-contact-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 1rem;

      .social-container {
        text-align: center;
        margin-top: 20px;
        .social-icon {
          width: 50px;
          height: 50px;
          display: inline-block;
          margin: 0 25px 30px 25px;
          cursor: pointer;
          fill: gray;

          &.facebook:hover {
            fill: #1877f2;
          }

          &.instagram:hover {
            fill: #c13584;
          }
        }
      }
    }

    .container-contact-home a:hover {
      transform: scale(1.1);
    }
    .map-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      border-radius: 10px;
      flex-grow: 1;
      iframe {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 10px;
      }
      p {
        margin: 2% auto;
      }
    }
  }
  .info-social-container {
    max-width: 95%;
    margin: 2dvh auto;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .contact-container {
    width: 98%;
    .contact-info-container {
      flex-direction: column;
      .card-contact-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, auto));
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        column-gap: 1.5em;
      }
      .map-container {
        iframe {
          min-height: 30dvh;
        }
      }
    }
  }
}
