// src/containers/pages/Admin/Admin.scss

@import "src/styles/mixins"; // Importa los mixins

.container-admin {
  width: 95%;
  margin: auto;
  max-width: 1300px;

  h3 {
    font-size: 33px;
    font-weight: 200;
    margin-bottom: 15px;
  }

  h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;

    strong {
      font-weight: 600;
    }
  }

  .header-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .button-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;

    button {
      // Usando el mixin button-standard
      @include button-standard;
      flex: 1;
      text-align: center;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
      transition: background-color 0.3s;

      &:hover {
        opacity: 0.9;
      }
    }

    .button-jobs {
      // Usando el mixin button-success
      @include button-success;
    }

    .button-logout {
      // Usando el mixin button-danger
      @include button-danger;
    }
  }
}
