.card-job {
  max-width: 400px;
  padding: 0;

  img {
    width: 105%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 10px;
    margin: 0 0 0 -2.5%;
  }

  h3 {
    font-weight: 300;
    margin: 1% 5%;
    min-height: 58px;
    line-height: 1.2;
  }
}
